<div class="container page-content group">
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="col-md-6 nav-container">
            @Display(Model.AsideFirst)
        </div>

        <div class="col-md-6">
            @Display(Model.Content)
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <footer>
            @Display(Model.Footer)
        </footer>
    </div>
</div>