<div class="form-group">
    <label for="NewMemberRegistrationForm_Type_Value" class="control-label col-xs-2">Member Type:</label>
    <div class="col-xs-8">
        <select id="NewMemberRegistrationForm_Type_Value" name="NewMemberRegistrationForm.Type.Value" class="form-control" required="required">
            <option>Guardian</option>
            <option selected="selected">Senior</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label for="NewMemberRegistrationForm_Surname_Value" class="control-label col-xs-2">Surname:</label>
    <div class="col-xs-3">
        <input type="text" id="NewMemberRegistrationForm_Surname_Value" name="NewMemberRegistrationForm.Surname.Value"
               required="required" autofocus="autofocus" class="form-control" maxlength="50" placeholder="Required">
    </div>
    <label for="NewMemberRegistrationForm_Firstname_Value" class="control-label col-xs-2">Firstname:</label>
    <div class="col-xs-3">
        <input type="text" id="NewMemberRegistrationForm_Firstname_Value" name="NewMemberRegistrationForm.Firstname.Value"
               required="required" class="form-control" maxlength="50" placeholder="Required">
    </div>
</div>
<div class="form-group">
    <label for="NewMemberRegistrationForm_Nickname_Value" class="control-label col-xs-2">Nickname:</label>
    <div class="col-xs-3">
        <input type="text" id="NewMemberRegistrationForm_Nickname_Value" name="NewMemberRegistrationForm.Nickname.Value"
               class="form-control" maxlength="50">
    </div>
</div>
<div class="form-group">
    <label for="NewMemberRegistrationForm_Address_Value" class="control-label col-xs-2">Address:</label>
    <div class="col-xs-8">
        <input type="text" id="NewMemberRegistrationForm_Address_Value" name="NewMemberRegistrationForm.Address.Value"
               required="required" class="form-control" maxlength="50" placeholder="Required">
    </div>
</div>
<div class="form-group">
    <label for="NewMemberRegistrationForm_Town_Value" class="control-label col-xs-2">Town:</label>
    <div class="col-xs-3">
        <input type="text" id="NewMemberRegistrationForm_Town_Value" name="NewMemberRegistrationForm.Town.Value"
               class="form-control" maxlength="50">
    </div>
    <label for="NewMemberRegistrationForm_Postcode_Value" class="control-label col-xs-2">Postcode:</label>
    <div class="col-xs-3">
        <input type="text" id="NewMemberRegistrationForm_Postcode_Value" name="NewMemberRegistrationForm.Postcode.Value"
               required="required" class="form-control" maxlength="50" placeholder="Required">
    </div>
</div>
<div class="form-group">
    <label for="NewMemberRegistrationForm_Email_Value" class="control-label col-xs-2">Email:</label>
    <div class="col-xs-3">
        <input type="email" id="NewMemberRegistrationForm_Email_Value" name="NewMemberRegistrationForm.Email.Value"
               required="required" placeholder="Required" class="form-control" maxlength="50">
    </div>
    <label for="NewMemberRegistrationForm_Telephone_Value" class="control-label col-xs-2">Telephone:</label>
    <div class="col-xs-3">
        <input type="tel" id="NewMemberRegistrationForm_Telephone_Value" name="NewMemberRegistrationForm.Telephone.Value"
               required="required" placeholder="Required" class="form-control" maxlength="50">
    </div>
</div>

<div class="junior-section">
    <hr />
    <h3>Junior 1</h3>
    <div class="form-group">
        <label for="NewMemberRegistrationForm_J1Surname_Value" class="control-label col-xs-2">Surname:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J1Surname_Value" name="NewMemberRegistrationForm.J1Surname.Value"
                   autofocus="autofocus" class="form-control" maxlength="50" placeholder="Required">
        </div>
        <label for="NewMemberRegistrationForm_J1Firstname_Value" class="control-label col-xs-2">Firstname:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J1Firstname_Value" name="NewMemberRegistrationForm.J1Firstname.Value"
                   class="form-control" maxlength="50" placeholder="Required">
        </div>
    </div>
    <div class="form-group">
        <label for="NewMemberRegistrationForm_J1Nickname_Value" class="control-label col-xs-2">Nickname:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J1Nickname_Value" name="NewMemberRegistrationForm.J1Nickname.Value"
                   class="form-control" maxlength="50">
        </div>
        <label for="NewMemberRegistrationForm_J1DOB_Editor_Date" class="control-label col-xs-2">DOB:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J1DOB_Editor_Date" class="form-control datepicker"
                   name="NewMemberRegistrationForm.J1DOB.Editor.Date" placeholder="Required dd/mm/yyyy" />
        </div>
    </div>
    <div class="form-group">
        <label for="NewMemberRegistrationForm_Notes_Text" class="control-label col-xs-2">Notes:</label>
        <div class="col-xs-8">
            <textarea class="form-control" id="NewMemberRegistrationForm_Notes_Text" name="NewMemberRegistrationForm.Notes.Text" rows="3" placeholder="Enter medical notes, medication, etc"></textarea>
        </div>
    </div>

    <hr />
    <h3>Junior 2</h3>
    <div class="form-group">
        <label for="NewMemberRegistrationForm_J2Surname_Value" class="control-label col-xs-2">Surname:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J2Surname_Value" name="NewMemberRegistrationForm.J2Surname.Value"
                   autofocus="autofocus" class="form-control" maxlength="50" placeholder="Required">
        </div>
        <label for="NewMemberRegistrationForm_J2Firstname_Value" class="control-label col-xs-2">Firstname:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J2Firstname_Value" name="NewMemberRegistrationForm.J2Firstname.Value"
                   class="form-control" maxlength="50" placeholder="Required">
        </div>
    </div>
    <div class="form-group">
        <label for="NewMemberRegistrationForm_J2Nickname_Value" class="control-label col-xs-2">Nickname:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J2Nickname_Value" name="NewMemberRegistrationForm.J2Nickname.Value"
                   class="form-control" maxlength="50">
        </div>
        <label for="NewMemberRegistrationForm_J2DOB_Editor_Date" class="control-label col-xs-2">DOB:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J2DOB_Editor_Date" class="form-control datepicker"
                   name="NewMemberRegistrationForm.J2DOB.Editor.Date" placeholder="Required dd/mm/yyyy" />
        </div>
    </div>
    <div class="form-group">
        <label for="NewMemberRegistrationForm_Notes_Text" class="control-label col-xs-2">Notes:</label>
        <div class="col-xs-8">
            <textarea class="form-control" id="NewMemberRegistrationForm_Notes_Text" name="NewMemberRegistrationForm.Notes.Text" rows="3" placeholder="Enter medical notes, medication, etc"></textarea>
        </div>
    </div>
    <hr />
    <h3>Junior 3</h3>
    <div class="form-group">
        <label for="NewMemberRegistrationForm_J3Surname_Value" class="control-label col-xs-2">Surname:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J3Surname_Value" name="NewMemberRegistrationForm.J3Surname.Value"
                   autofocus="autofocus" class="form-control" maxlength="50" placeholder="Required">
        </div>
        <label for="NewMemberRegistrationForm_J3Firstname_Value" class="control-label col-xs-2">Firstname:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J3Firstname_Value" name="NewMemberRegistrationForm.J3Firstname.Value"
                   class="form-control" maxlength="50" placeholder="Required">
        </div>
    </div>
    <div class="form-group">
        <label for="NewMemberRegistrationForm_J3Nickname_Value" class="control-label col-xs-2">Nickname:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J3Nickname_Value" name="NewMemberRegistrationForm.J3Nickname.Value"
                   class="form-control" maxlength="50">
        </div>
        <label for="NewMemberRegistrationForm_J3DOB_Editor_Date" class="control-label col-xs-2">DOB:</label>
        <div class="col-xs-3">
            <input type="text" id="NewMemberRegistrationForm_J3DOB_Editor_Date" class="form-control datepicker"
                   name="NewMemberRegistrationForm.J3DOB.Editor.Date" placeholder="Required dd/mm/yyyy" />
        </div>
    </div>
    <div class="form-group">
        <label for="NewMemberRegistrationForm_Notes_Text" class="control-label col-xs-2">Notes:</label>
        <div class="col-xs-8">
            <textarea class="form-control" id="NewMemberRegistrationForm_Notes_Text" name="NewMemberRegistrationForm.Notes.Text" rows="3" placeholder="Enter medical notes, medication, etc"></textarea>
        </div>
    </div>
</div>
<hr />

